:root {
  --color-carbon: #060606;
  --color-white: #ffffff;
  --color-background: #ffffff;
  --color-text: #060606;
  --color-border: #e0e0e0;

  --transition: all 0.2s ease;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  overflow: hidden;
}


