.herhaling-scherm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.reactietijd-scherm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

